---
 const personalImageAlt = "Hader Renteria"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-pretty order-2 md:order-1">
    <p>
      Soy Hader Renteria, un apasionado del diseño. Lo que comenzó como un simple hobby se transformó en mi vocación y una fuente de ingresos gratificante. En la actualidad, tengo el privilegio de
      <strong class="gradient">tener un gran conocimiento en areas como el desarrollo web y el diseño grafico en varias de sus lineas</strong>.
    </p>
    
    <p>
      Entre mis logros destacados se encuentra la colaboración con <strong class="gradient">Muchachones en el desarrollo de su podcast.</strong> Aunque el podcast sea ahora un recuerdo, este proyecto marcó un hito significativo en mi trayectoria profesional. Fue aquí donde confirmé mi pasión y convicción de que podía lograr cosas extraordinarias en este campo.
    </p>
    
    <p>
      Como Web UI Developer, mi primera incursión profesional fue con MaxiVallas. Este proyecto no solo fue un desafío estimulante, sino que también fue una experiencia enriquecedora. Disfruté cada etapa de su creación, y la satisfacción del cliente con mi trabajo fortaleció nuestra relación para futuras actualizaciones en su página web.
    </p>
    
    
  </div>
  

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
