---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Febrero del 2023 - Febrero del 2024",
    title: "Frontend Developer & Diseñador",
    company: "Visivo",
    description:
      "Dirigí un proyecto para Maxivallas, donde fusioné mi pasión por el diseño y desarrollo frontend para dar vida a una experiencia web que va más allá de lo convencional. Mi enfoque meticuloso en la programación resaltó la visión única de Maxivallas en el mundo digital, creando un impacto estético y funcional.",
  },
  {
    date: "Noviembre 2022 -  Enero del 2024",
    title: "Director Creativo",
    company: "Muchachones",
    description:
      "Como apasionado diseñador gráfico, he liderado la transformación visual de proyectos destacados, entre ellos el podcast 'Muchachones' donde desempeñé el rol de Director Creativo. En este desafío, elevé la estética y narrativa del contenido mediante un enfoque innovador en diseño y edición de videos. La fusión de creatividad y técnica resultó en una identidad distintiva que resonó con la audiencia, generando una conexión auténtica.",
  },
  {
    date: "Agosto 2022 - Enero del 2023",
    title: "Brand Designer",
    company: "Numanos Musika",
    description:
      "Con un enfoque meticuloso, participé en la creación integral del branding para Numanos Musika. Cada elemento fue cuidadosamente diseñado para encapsular la esencia y la visión artística de la marca, combinando tal cual lo que ellos eran.",
  },
  {
    date: "Marzo 2022 - Octubre 2023",
    title: "Web UI Developer",
    company: "ChillClass",
    description:
      "Mi enfoque en el desarrollo web se centró en la creación de una experiencia única para la plataforma de e-learning. Trascendí la simple funcionalidad y diseño al implementar una sinergia eficaz entre el branding y la experiencia del usuario. La interfaz resultante no solo era estéticamente atractiva, sino también altamente funcional y accesible, proporcionando a los usuarios una experiencia de aprendizaje excepcional..",
  },
  {
    date: "Noviembre 2018 - Diciembre 2019",
    title: "Enero 2021 - Marzo 2024",
    company: "La Tribu Express",
    description:
      "Como responsable de revitalizar la identidad de La Tribu Express, mi enfoque fue mucho más que un simple rediseño. A través de la edición de videos y la creación de contenido, logré no solo actualizar el logo, sino también contar historias visualmente cautivadoras.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
